h1{
    font-size: 40px;
    text-align: center;
}
.snapshot-batch{
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
}
.snapshot-format{
    margin-top: 25px;
}
.snapshot-advanced-link{
    margin-top: 25px;
}
.snapshot-advanced-option{
    margin-top: 25px;
}
.snapshot-job-list{
    margin-top: 25px;
}
.snapshot-services{
    margin-top: 30px;
    margin-left: 160px;
    margin-right: 160px;
}
.snapshot-lastest-print{
    margin-top: 40px;
    margin-left: 160px;
    margin-right: 160px;
}
.snapshot-lastest-print span{
    color: darkgray;
    font-size: 12px;
}
@media (max-width: 768px) {
    .snapshot-services{
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .snapshot-lastest-print{
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width: 992px) {
    .snapshot-services{
        margin-left: 0px;
        margin-right: 0px;
    }
    .snapshot-lastest-print{
        margin-left: 0px;
        margin-right: 0px;
    }
}
.snapshot-services-block p{
    color: #999;
    width: 320px;
    margin: auto;
}
.snapshot-services-block h3{
    color: #888;
}
.snapshot-custom-margin{
    float:left;
}
.snapshot-custom-margin input{
    width:60px;
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.snapshot-custom-margin span{
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.snapshot-table{
    table-layout: fixed;
    width: 100%
}
.snapshot-table-success{
    color:green;
}
.snapshot-table-fail{
    color:red;
}
.snapshot-powerby{
    position: absolute;
    top: 80px;
    right: 10px;
}
.snapshot-powerby p{
    text-align: right;
    color: #999;
}
.snapshot-pick{
    position: absolute;
    top: 10px;
    right: 10px;
}
.input-group-btn{
    width: 1%;
    vertical-align: top;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #B3B3B1;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #B3B3B1;
}
.form-control:-ms-input-placeholder{
    color: #B3B3B1;
}

.form-control::-webkit-input-placeholder {
    color: #B3B3B1;
}
.snapshot-smallnote{
    font-size: 12px;
    color: slategrey;
    font-weight: normal;
}
.snapshot-pagination{
    display: table;
    margin: 0 auto;
}
.snapshot-list p{
    word-break:break-all;
    color: darkgray;
}
.snapshot-wall{
    line-height: 23px;
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.snapshot-foot{
    line-height: 23px;
    color: #AFAFAF;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}